MrKrug/APClass/Array/double/Crossword.java
/MrKrug/Web/WebApplication1/nbproject/private/
/MrKrug/Web/WebApplication1/build/
/MrKrug/Web/WebApplication2/nbproject/private/
/MrKrug/Web/WebApplication2/build/
/MrKrug/Web/WebApplication2/dist/